div {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: aqua;
  display: inline-block;
}
#Box3 {
  position: relative;
  /* position: absolute; */
  top: 100px;
  left: 50px;
}
#Box4 {
  position: sticky;
  top: 0px;
}
.wrapper {
  width: 100vw;
  height: 2000px;
  background-color: yellow;
}
#Box1 {
  position: fixed;
}
